#lane-container {
    position: relative;
    width: 430px;
    height: 800px;
    background-image: url(../images/roadPitch.png);
    overflow: hidden;
    /* background-color: rgba(255, 115, 0, 0.616); */
}

.road-dec {
    position: absolute;
    z-index: 5;
    
}
/* .car {
    position: absolute;
    left: 289px;
    bottom: 20px;
    z-index: 10;
    width: 65px;
    height: 135px;
    background-color: rgb(71, 172, 255);
    border-radius: 20px;
} */