#main-container{
    width: 500px;
    height: 500px;
    background-color: rgb(207, 207, 207);
    margin: 0px auto;
    position: relative;
}
#ant-smash-link {
    margin: 0px auto;
}
#ant-smash-link a{
    text-align: center;
    font-size: 35px;
    color: red;
}
#ant-smash-link a:hover {
    text-decoration: none;
}
