body {
    font-family: Arial, Helvetica, sans-serif;
}

    .wide-header {
        width: 100%;
        
    }
        /*.wide-header div {
            display: block;
        }*/
        .wide-header-top {
            width: 100%;
            /*height: 46.5116%;*/
            background-image: url(../images/topTopBack.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding-left: 10.8667%;
            padding-right: 11.1333%;
            padding-top: 21px;
            padding-bottom: 29px;
        }
        
        .wrapper-header-top div{
            display: inline-block;
        }
            .tollens-logo {
                width: 8.8034%;
                /*float: left;*/
            }
            .tollens-logo img{
                width: 100%;
                height: 100%;
            }
            .header-link-list {
                width: 85.1966%;
            }
            .header-link-list div {
                width: 9.7469;
                float: right;
                
                text-align: center; 
            }
            .header-link-list div:hover{
                background-image: url(../images/headerLinkBack.png);
            }
            .header-link-list div a {
                text-decoration: none;
                color: white;
                font-size: 10px;
                margin: 15px;

            }

        .wide-header-bottom {
            width: 100%;
            background: url(../images/topBottomBack.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        
    /*.wide-body {

    }
    .wide-footer {

    }*/

