body {
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix {
    content: "";
    clear: both;
    display: table;
}
        .wide-header-top {
            background-image: url(../images/topBackPattern.png);
            background-position: bottom;
            background-repeat: repeat-x;
            padding-left: 10.8667%;
            padding-right: 11.1333%;
            padding-bottom: 1.7094%;
            padding-top: 1.7949%;
        }
        
        .wrapper-header-top {
            width: 73.15em;
        }
            .tollens-logo {
                width: 8.8034%;
                float: left; 
            }
           .tollens-logo img {
                width: 100%;
            }

            .header-link-list {
                float: right;
                width: 85.1966%;
                
            }
            .header-link-list ul{
                list-style-type: none;
                float: right;
            }
            .header-link-list ul a {
                text-decoration: none;
                float: left;
                line-height: 6.8376%;                
            }
            .header-link-list ul a:hover{
                background-image: url(../images/headerLinkBack.png);
                background-repeat: no-repeat;
                
            }

        .wide-header-bottom {
            width: 100%;
            background: url(../images/topBottomBack.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        
    /*.wide-body {

    }
    .wide-footer {

    }*/

