@font-face {
    font-family: roboto;
    src: url(../googlefont/roboto-light.ttf);
}

body {
    font-family: roboto;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}
.some-text {
    font-family: roboto;
}
.main-container {
    width: 120em;
    margin: 0px auto;
    overflow: auto;
}
.first-container {
    width: 100%;
    background-image: url(../images/topBackground.png);
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0px auto;
    
}
header {
    background-color: rgba(255,255,255,0.94);
    width: 100%;
}
    .header-wrapper {
        margin: 0px auto;
        width: 59.375%;
        
    }
        .header-sites-holder {
            width: 17.1053%;
            float: left;
            list-style-type: none;
        }
            .header-sites-holder li {
                display: inline-block;
                margin: 10px;
            }
                .fbIcon {
                    background-image: url(../images/fbIconInac.png);
                    background-repeat: no-repeat;
                }
                .twIcon {
                    background-image: url(../images/twitterIconInac.png);
                    background-repeat: no-repeat;
                }
                .pinIcon {
                    background-image: url(../images/pinIconInac.png);
                    background-repeat: no-repeat;
                }
                .instaIcon {
                    background-image: url(../images/instaIconInac.png);
                    background-repeat: no-repeat;
                }
                .dribIcon {
                    background-image: url(../images/dribIconInac.png);
                    background-repeat: no-repeat;
                }
            .header-sites-holder li:last-child {
                margin-right: 0px;
            }
            .header-sites-holder li:first-child {
                margin-left: 0px;
            }
                .fbIcon a:hover {
                    background-image: url(../images/fbIconAc.png);
                    background-repeat: no-repeat;
                }
                .twIcon a:hover {
                    background-image: url(../images/twitterIconAc.png);
                    background-repeat: no-repeat;
                }
                .pinIcon a:hover {
                    background-image: url(../images/pinIconAc.png);
                    background-repeat: no-repeat;
                }
                .instaIcon a:hover {
                    background-image: url(../images/instaIconAc.png);
                    background-repeat: no-repeat;
                }
                .dribIcon a:hover {
                    background-image: url(../images/dribIconAc.png);
                    background-repeat: no-repeat;
                }

        .hot-line {
            line-height: 40px;
            float: right;
        }
            .hot-line-txt {
                color: black;
                margin-right: 16px;
                font-size: 11px;
            }
            .hot-line-num {
                color: rgb(107, 124, 147);
                font-size: 11px;
            }

.nav-only {
    background-color: rgba(255,255,255,0.94);
    width: 100%;
    background-image: url(../images/headerline.png);
    background-repeat: repeat-x;
    background-position: top;
    box-shadow: 0px 10px 5px rgba(216, 215, 215, 0.5);
}
    .nav-wrapper {
        margin: 0px auto;
        width: 59.375%;   
    }
        .nav-logo {
            float: left;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 114px;
        }
        .nav-logo img {
            width: 100%;
        }
        .nav-list-dropdown {
            float: right;
            width: 55.7895%;
        }
            .nav-no-logo {
                width: 92.7673%;
                float: right;
            }
            .nav-no-logo a{
                padding-left: 13px;
                padding-right: 6px;
                line-height: 70px;
                margin-left: 16px;
                margin-right: 16px;
                color: black;
                text-decoration: none;
                font-size: 11px;  
                display: inline-block;
                
            }
            .nav-no-logo a:hover {
                background-image: url(../images/navlinkback.png);
                background-position: top;
                background-repeat: repeat-x;
                
            }
            .nav-dropdown {
                position: relative;
                padding-top: 25px;
                padding-bottom: 19px;
                width: 20px;
                height: 16px;
                float:right;
                background-image: url(../images/navBarIcon.png);
                background-repeat: no-repeat;
                background-position: center;
                /*display: none;*/
            }
            .drop-menu {
               display: none;
               position: absolute;
               top: 17px;
               right: 0px;
            }
            .drop-menu a {
                text-decoration: none;
                color: black;
                background-color: white;
                line-height: 1.5;
                font-size: 12px;
                height: 20px;
                width: 100px;
                display: block;
                text-align: center;
                background-image: url(../images/dropdownBack.png);
                background-repeat: no-repeat;
            }
            .drop-menu a:hover {
                background-image: url(../images/dropdownBackHover.png);
                background-repeat: no-repeat;
            }
    .first-container-content {
        padding-top: 285px;
        width: 49.2187%;
        margin: 0px auto;
        display: block;
        padding-bottom: 180px;
    }
        .first-container-content .first.some-text {
            font-size: 56px;
            color: black;
            text-align: center;
            padding-bottom: 35px;
            width: 100%;
        }
        .first-container-content .second.some-text {
            font-size: 17px;
            color: rgb(132, 145, 164);
            text-align: center;
            margin: 0px auto;
            width: 71.9577%;
            line-height: 1.5;
        }
        .explore-now-button {
            width: 140px;
            margin-top: 40px;
            margin: 0px auto;
            margin-top: 40px;
            border-radius: 25px;
            text-align: center;
            box-shadow: 0px 0px 15px rgba(216, 215, 215, 0.637);
        }
        .explore-now-button a{
            line-height: 45px;
            text-decoration: none;
            color: rgb(76, 175, 80);
            display: block;
            font-size: 14px;
        }
        .explore-now-button:hover a{
            color: white;
        }
        .explore-now-button:hover {
            background-color: rgb(76, 175, 80);;
        }
.second-container {
    width: 100%;
    background-image: url(../images/ourcustomersBack.png);
    background-repeat: repeat-x;
    background-color: white;
    margin: 0px auto;
}
    .our-customers-block {
        width: 59.375%;
        margin: 0px auto;
        padding-top: 43px;
        padding-bottom: 37px;
    }
        .our-customers-txt {
            width: 31.5789%;
            float: left;   
        }
        .our-customers-txt .first.some-text{
            font-size: 24px;
            color: black;
            padding-bottom: 12px;
            width: 100%;
        }
        .our-customers-txt .second.some-text {
            font-size: 14px;
            line-height: 1.8;
            color: rgb(132, 145, 164);
            width: 100%;
        }
        .our-customers-logo {
            float: right;
            width: 59.8246%;
        }
        .our-customers-logo figure {
            display: inline-block;
            margin: 0px 30px;
        }
        .our-customers-logo figure:last-child {
            margin-right: 0px;
        }
        
.third-container {
    width: 100%;
    margin: 0px auto;
    background-image: url(../images/thirdblockBack.png);
    background-repeat: no-repeat;
}
.third-container-wrapper {
    width: 59.375%;
    margin: 0px auto;
}
    .third-container-content {
        width: 68.7895%;
        padding-top: 165px;
        padding-bottom: 75px;
        float: right;
    }
        .our-services-txt {
            width: 82.6667%;
        }
            .our-services-txt .first.some-text {
                font-size: 34px;
                color: black;
                padding-bottom: 15px;
                width: 100%;
            }
            .our-services-txt .second.some-text {
                font-size: 14px;
                line-height: 1.8;
                color: rgb(132, 145, 164);
                width: 100%;
            }
        .our-services-list-block {
            width: 100%;
            padding-top: 100px;
            
        }
        .our-services-list-one {
            width: 750px;
            padding-bottom: 80px;
        }
        .our-services-list-two {
            width: 750px;
            padding-bottom: 80px;
        }
        .our-services-list-item {
            width: 44.6667%;
            display: inline-block;
            margin-left: 75px;
        }
        .our-services-list-one {
            width: 100%;
        }
        .our-services-list-two{
            width: 100%;
        }
            .our-services-list-one div:first-child{
                margin-left: 0px;
            }
            .our-services-list-two div:first-child{
                margin-left: 0px;
            }
            
                .list-item-img-cycle {
                    float: left;
                    width: 14.9254%;
                    background-image: url(../images/cycleInac.png);
                    background-repeat: no-repeat;

                }
                .list-item-img-cycle:hover {
                    background-image: url(../images/cycleAc.png);
                }
                .list-item-img-light {
                    float: left;
                    width: 14.9254%;
                    background-image: url(../images/lightInac.png);
                    background-repeat: no-repeat;
                    
                }
                .list-item-img-light:hover {
                    background-image: url(../images/lightAc.png);
                }
                .list-item-img-fileclip {
                    float: left;
                    width: 14.9254%;
                    background-image: url(../images/fileclipInac.png);
                    background-repeat: no-repeat;
                    
                }
                .list-item-img-fileclip:hover {
                    background-image: url(../images/fileclipAc.png);
                }
                .list-item-img-rightmark {
                    float: left;
                    width: 14.9254%;
                    background-image: url(../images/rightmarkInac.png);
                    background-repeat: no-repeat;
                    
                }
                .list-item-img-rightmark:hover {
                    background-image: url(../images/rightmarkAc.png);
                }
                .list-item-txt {
                    float: right;
                    width: 74.6269%;
                    padding-left: 20px;
                    background-image: url(../images/ourservlistitemseperator.png);
                    background-position: left;
                    background-repeat: repeat-y;
                }
                    .list-item-txt div {
                        font-family: roboto;
                        padding-bottom: 15px;
                        color: black;
                        font-size: 13px;
                        width: 100%;
                    }
                    .list-item-txt p {
                        font-size: 14px;
                        line-height: 1.5;
                        color: rgb(132, 145, 164);
                    }
.fourth-container {
    width: 100%;
    margin: 0px auto;
    background-image: url(../images/fourthblockBack.png);
    background-repeat: no-repeat;
}
    .fourth-container-wrapper {
        width: 39.0625%;
        margin: 0px auto;
        padding-top: 265px;
        padding-bottom: 150px;
    }
        .lets-build-block {
            width: 93.3333%;
        }
            .lets-build-block .first.some-text{
                font-size: 34px;
                color: black;
                padding-bottom: 15px;
                width: 100%;
            }
            .lets-build-block .second.some-text {
                font-size: 14px;
                line-height: 1.8;
                color: rgb(132, 145, 164);
                width: 100%;
            }
        .statistics-block {
            padding-top: 100px;
            width: 59.3333%;
        }
        .statistics-list-one {
            width: 100%;
            padding-bottom: 80px;
        }
        .statistics-list-two {
            width: 100%;
            padding-bottom: 80px;
        }
        .statistics-list-item {
            width: 35.9551%;
            display: inline-block;
            margin-left: 115px;
        }
        
        .statistics-block div div span{
            display: block;
        }
            .status-num {
                font-size: 44px;
                width: 100%;
            }
            .status-name {
                font-size: 15px;
                line-height: 1.5;
                width: 100%;
            }
            .statistics-list-one .statistics-list-item:first-child .status-num{
                color: rgb(50, 213, 186);
            }
            .statistics-list-one .statistics-list-item:last-child .status-num{
                color: rgb(109, 196, 242);
            }
            .statistics-list-two .statistics-list-item:first-child .status-num{
                color: rgb(255, 209, 60);
            }
            .statistics-list-two .statistics-list-item:last-child .status-num{
                color: rgb(244, 67, 54);
            }
        .statistics-list-one div:first-child {
            margin-left: 0px;
        }
        .statistics-list-two div:first-child {
            margin-left: 0px;
        }

.fifth-container {
    width: 100%;
    margin: 0px auto;
    background-image: url(../images/fifthblockBack.png);
    background-repeat: no-repeat;
}
    .fifth-container-wrapper {
        width: 39.0625%;
        padding-bottom: 145px;
        margin: 0px auto;
    }
        .contact-us-block {
            width: 72%;
            margin: 0px auto;
        }
            .contact-us-block .first.some-text {
                font-size: 34px;
                color: black;
                padding-bottom: 15px;
                text-align: center;
                width: 100%;
            }
            .contact-us-block .second.some-text {
                font-size: 14px;
                color: rgb(132, 145, 164);
                text-align: center;
                line-height: 1.8;
                width: 100%;
            }
        .feedback-block {
            width: 750px;
            padding-top: 100px;
            margin: 0px auto;
        }
        
        .feedback-form {
            border-radius: 8px;
            padding: 65px;
            box-shadow: 0px 0px 15px rgba(216, 215, 215, 0.637);
            background-color: white;
        }
        .feedback-form label {
            font-size: 13px;  
        }
        .feedback-form input {
            border: 0px;
            height: 69px;
            background-color: rgb(245, 245, 245);
            border-radius: 4px;
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 16px;
        }
        .first-last-name {
            width: 620px;
        }
        .first-name-block {
            margin-right: 15px;
            width: 300px;
            float: left;
        }
        .last-name-block {
            float: right;
            width: 300px;
        }
        .feedback-form .email-address {
            width: 620px;
        }
        .feedback-form .first-name {
            width: 300px;
        }
        .feedback-form .last-name {
            width: 300px;
        }
        .feedback-form .message {
            width: 620px;
            background-color: rgb(245, 245, 245);
            border: 0px;
            border-radius: 4px;
            margin-top: 20px;
            margin-bottom: 55px;
            font-size: 16px;
            height: 178px;
            resize: none;
        }
        .feedback-form .send-now-button {
            height: 44px;
            width: 140px;
            color: rgb(76, 175, 80);
            background-color: white;
            border-radius: 25px;
            box-shadow: 0px 0px 15px rgba(216, 215, 215, 0.637);
            border: 0px;
        }
        .feedback-form .send-now-button:hover {
            color: white;
            background-color: rgb(76, 175, 80);
            cursor: pointer;
        }
footer {
    width: 100%;
    margin: 0px auto;
    background-image: url(../images/footerBack.png);
    background-repeat: no-repeat;
}
.footer-wrapper {
    width: 59.375%;
    padding-top: 69px;
    padding-bottom: 80px;
    margin: 0px auto;
}
    .firefly-desc-block {
        width: 31.5789%;
        float: left;
    }
        .firefly-logo {
            width: 114px;
            padding-bottom: 25px;
        }
        .firefly-logo img {
            width: 100%;
        }
        .firefly-desc-txt {
            line-height: 1.5;
            font-size: 14px;
            color: rgb(132, 145, 164);
            padding-bottom: 25px;
            width: 100%;
        }
        .privacy-copyright {
            width: 100%;
        }
        .privacy-links {
            padding-bottom: 15px;
        }
        .privacy-links a{
            margin-right: 30px;
            font-size: 12px;
            text-decoration: none;
            color: black;
        }
        .copyright-txt {
            font-size: 14px;
            color: rgb(132, 145, 164);
            
        }
    .cat-comm-follow-block {
        float: right;
        width: 51.3158%;
    }
        .cat-comm-block {
            float: left;
            width: 71.7949%;
        }
            .category-block {
                width: 50%;
                float: left;
            }
                .category-block div {
                    padding-bottom: 20px;
                    padding-top: 10px;
                    font-size: 14px;
                }
                .category-block ul {
                    list-style-type: none;
                    margin-left: 5px;
                }
                .category-block ul a {
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 2;
                    color: rgb(132, 145, 164);
                }
                .category-block ul a:hover {
                    color: black;
                }
            .community-block {
                width: 50%;
                float: right;
            }
                .community-block div {
                    padding-bottom: 20px;
                    padding-top: 10px;
                    font-size: 14px;
                }
                .community-block ul {
                    list-style-type: none;
                    margin-left: 5px;
                }
                .community-block ul a {
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 2;
                    color: rgb(132, 145, 164);
                }
                .community-block ul a:hover {
                    color: black;
                }
        .follow-block {
            width: 28.2051%;
            float: right;
        }
            .follow-block div {
                padding-top: 10px;
                padding-bottom: 25px;
                font-size: 14px;
            }
            .follow-block ul {
                list-style-type: none;
            }   
                .follow-block ul li {
                    width: 24px;
                    display: inline-block;
                    margin-right: 10px;
                }
                .twimg a {
                    background-image: url(../images/twitterIconInacBot.png);
                    background-repeat: no-repeat;
                }       
                .twimg a:hover {
                    background-image: url(../images/twitterIconAcBot.png);
                    background-repeat: no-repeat;
                }
                .fbimg a {
                    background-image: url(../images/fbIconInacBot.png);
                    background-repeat: no-repeat;
                }       
                .fbimg a:hover {
                    background-image: url(../images/fbIconAcBot.png);
                    background-repeat: no-repeat;
                }.gpimg a {
                    background-image: url(../images/gpIconInacBot.png);
                    background-repeat: no-repeat;
                }       
                .gpimg a:hover {
                    background-image: url(../images/gpIconAcBot.png);
                    background-repeat: no-repeat;
                }.tumbimg a {
                    background-image: url(../images/tumblrIconInac.png);
                    background-repeat: no-repeat;
                }       
                .tumbimg a:hover {
                    background-image: url(../images/tumblrIconAc.png);
                    background-repeat: no-repeat;
                }